body{
    margin: 0;
}
/*navBar*/
.nav-container{
    position: sticky;
    z-index: 3;
    top: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 12vh;
    background-color: darkmagenta;
}
.nav-logo{
    justify-self: start;
    margin-left: 50px;
    color: white;
    margin-top: 4vh;
    cursor: pointer;
}
.ver-carrito{
    font-size: 25px;
    margin-right: 40px;
    margin-top: 4vh;
    cursor: pointer;
    color: #fff;
}
/*banner*/
.banner{
    background-size: cover;
    background-position: center;
    height: 40vh;
    background-image: linear-gradient(rgba(41, 1, 33, 0.4),
    rgba(214, 50, 181, 0.4)),url("../img/banner.png");
}
.banner-container{
    text-align: center;
    padding: 4% 0;
}
.banner-container h1{
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 60px;
    font-weight: bold;
}
.banner-container p{
    font-size: 30px;
    color: white;
    opacity: 0.7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
/*Footer*/
.footer{
    background-color: darkmagenta;
    padding: 20px;
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
}
.footer-container{
    display: flex;
    justify-content: space-around;
}
/*Container Productos*/
.product-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(73, 8, 60, 0.2);
    max-width: 200px;
    margin: auto;
    text-align: center;
    font-family: Impact;
    color:darkmagenta;
    font-size: 20px;
}
.card img{
    width: 100%;
    height: 250px;
}
.card p{
    color: grey;
    font-size: 25px;
}
.card button{
    background-color: darkmagenta;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    outline: none;
    border-radius: 20px;
    margin-bottom: 20px;
}
.card button:hover{
    background-color: rgb(238, 197, 238);
    color: rgb(42, 2, 38);
    transform: scale(1.05);
    border: dashed 1px darkmagenta;
}
.modal-container{
    width: 70%;
    margin: 0 10%;
    max-height: 88vh;
    background-color: rgb(178, 225, 236);
    color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
}
.modal-container::-webkit-scrollbar{
    display: none;
}
.modal-header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: cadetblue;
    color: white;
}
.modal-header-title{
    justify-self: start;
    font-size: 25px;
    font-family: 'san-serif';
}
.modal-header-botton{
    border: 2px solid blue;
    padding: 10px 30px;
    border-radius: 50%;
}
.modal-header-botton:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
}
.modal-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 10px;
}
.modal-content > img{
    height: 120px;
    width: 150px;
}
.modal-content > h3{
    font-size: 25px;
    font-family: Tahoma;
    color: darkblue
}
.modal-content > p{
    font-size: 20px;
    font-family: Tahoma;
    color: rgb(48, 48, 182);
}
.total-content{
    font-size: 25px;
    padding: 20px;
    text-align: center;
    width: 100%;
    background-color: cadetblue;
    color: wheat;
}